/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

// Site-wide variables
$primary_color: #333A56;
$base_font_size: 20px;
$font-stack: Helvetica, sans-serif;
// Site-wide function
@function px-to-em($target,$context:$base_font_size) {
  @return ($target / $context) * 1em;
}


// @function typographic_scale($ratio,$interval,$base:$base_font_size) {
//  @return  $base * ($ratio ^ $interval) * 1px;
// }

/* Base Styles (HTML Selectors) */


html {
  font-size: px-to-em($base_font_size,16px); /* 20 / 16 = 1.25 */
  color: $primary_color;
  line-height: px-to-em(24px);
  background-color: #D9B310;
  font: 100% $font-stack;

}


header {

  margin-bottom: 2em;
}


h1 {
  font-size: px-to-em(35px);
  line-height: px-to-em(38px, 35px);
  font-weight: bold;
  margin: 1em;
}
h3 {
  font-size: px-to-em(22px);
  line-height: px-to-em(22px, 25px);
  font-weight: bold;
  color: #333A56;
  margin: 1em;

}
ul {
  margin: px-to-em(15px);
  list-style: none;
}
li {
  font-size: px-to-em(20px);
  line-height: px-to-em(30px, 20px);
  color: #D9B310;
  background-color: #333A56;
  margin: 1em 2em 0 2em;
  padding: 1em;
}




a {
  display: block;
  text-decoration: underline;
  color: #333A56
}
ul.controls a {
  color: #333A56
}

p {
 margin: 2em;
}

footer {
  font-size: px-to-em(15px);
  margin: 2em 0 2em 0;
  color: #D9B310;
  background-color: #333A56;
  padding: 2em 2em 2em 2.5em;
}

input {
  color:#333A56;
  display: block;
}

textarea {
  display: block;
}


/* Layout Styles (Usually Landmark ID Selectors) */

/* Modular Styles (Repeating Class Selectors) */

.tagline{
  font-size: px-to-em(20px);
  margin-bottom: 2em;
}
/*responsive images */

img {
  display: block;
  max-width: 100%;
}

 /* State Styles (JavaScript-Dependent Styles, Media Queries) */
 @media screen and (min-width: 375px) {

}
@media screen and (min-width: 540px) {

}
 @media screen and (min-width: 675px) {

  ul {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 0.3125em;
    grid-template-columns: repeat(2, 49.5%);
    grid-template-rows: repeat(1 , 99%);
  }
  ul.info {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.3125em;
    grid-template-rows: repeat(3, 33.9%);
    grid-template-columns: repeat(1 , 99%);
  }
  ul.controls {
    display: inline-flex;
  }
}
@media screen and (min-width: 920px) {
  html {
    font-size: px-to-em(25px);
  }
  h1 {
    font-size: px-to-em(35px);

  }
}

@media screen and (min-width: 1200px) {
  html {

    font-size: px-to-em(25px);
  }
  h1 {
    font-size: px-to-em(35px);
  }
}
